@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'SUIT-Regular';
    /*  *(전체선택자) 사용 시, 모든 글자가 해당 폰트로 나오기 때문에, 본문용 폰트를 작성하는 것을 추천
    
        제목용 폰트의 경우 따로 class를 생성하여 설정하는 것을 추천 (class의 우선순위가 전체보다 높기 때문)*/
}